<!DOCTYPE html>
<html lang="zh-cmn-Hans">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge, chrome=1">
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0">
        <title><?php echo $this->e($data['title']); ?></title>
        <meta name="keywords" content="<?php echo $this->e($data['keywords']); ?>">
        <meta name="description" content="<?php echo $this->e($data['description']); ?>">
        <!-- 禁止百度自动转码 -->
        <meta http-equiv="Cache-Control" content="no-siteapp">
        <!-- iOS -->
        <!-- 禁用自动识别 -->
        <meta name="format-detection" content="telephone=no, email=no">
        <!-- 从主屏启动时自动隐藏地址栏 -->
        <meta name="apple-mobile-web-app-capable" content="yes">
        <!-- 状态栏颜色 -->
        <meta name="apple-mobile-web-app-status-bar-style" content="black">
        <!-- 主屏标题 -->
        <meta name="apple-mobile-web-app-title" content="应用标题">
        <meta name="mobile-web-app-capable" content="yes">
		<?php if(isset($data['css'])): ?>
			<?php foreach ($data['css'] as $c): ?>
            <link href="<?php echo $this->e($c); ?>" rel="stylesheet">
			<?php endforeach; ?>
		<?php endif; ?>
    </head>
    <body>
        <div id="app">
            <div class="content">
                <?php echo $this->section('content'); ?>
            </div>
        </div>
        <?php if(isset($data['script'])): ?>
			<?php foreach ($data['script'] as $s): ?>
            <script src="<?php echo $this->e($s); ?>"></script>
			<?php endforeach; ?>
		<?php endif; ?>
    </body>
</html>